{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
    <center>
    {{ form_widget(form) }}
    </center>
    
<br><br>
    <center>
    <button <button class="btn btn-outline-secondary">{{ button_label|default('Envoyer') }}</button>
</center>
{{ form_end(form) }}

