{% extends 'back.html.twig' %}
{% block main %}{% endblock %}




{% block content %}
   
   <br><br>
<br><br>
<br><br>
<br><br>



   <center> <h1>Ajouter une Reclamation</h1> </center>
<br><br>
<br><br>
    
    {{ include('Reclamation/_form.html.twig') }}
<br><br>
   
<br><br>
<br><br>
<br><br>
<br><br>
 
{% endblock %}
