{% extends 'base1.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<h1>About</h1>

<p>c,z,co,coz,c,zo,coez</p>
<a href="{{path('home')}}">Go back</a>
{% endblock %}
