{% extends 'front.html.twig' %}



{% block footer %}{% endblock %}
{% block body %}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
   
   <br><br>
<br><br>
<br><br>
<br><br>



   <center> <h1>Ajouter votre Avis</h1> </center>
<br><br>
<br><br>
    <center>
    {{ include('avis/_form.html.twig') }}
     </center>
<br><br>
   
 

<br><br>
<br><br>
<br><br>
<br><br>
 
{% endblock %}
