{% extends 'back.html.twig' %}
{% block main %}
   
   <br><br>
<br><br>
<br><br>
<br><br>
<cr>
    <center><h1>Modifier Reclamation</h1></center>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

   <button class="btn btn-outline-secondary">
    <a href="{{ path('reclamtionfront_index') }}">retour a list</a>
   </button>

    {{ include('reclamtionfront/deleteRec.html.twig') }}
{% endblock %}
