<form action="/SecondProject/src/Controller/ClassroomController.php/" method="post">
	<h1>Ajouter une classe:</h1>
	<label for="name">Name:</label>
	<input type="text" name="name" value="" placeholder="Name"><br>
	<button type="submit">
		<a href="{{ path('addC', {'nomcategory': nomcategory.value }) }}" role="button">
			Participer
		</a>
	</button>

</form>
<button type="submit"></button>
