<div class="errorWrapper">
    <div class="errorHolderWrap">
        <div class="errorHolder"><h1><a href="index-2.html"><img src="images/logo.png" alt="image"></a></h1>

            <h2>404</h2><h4>not found</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque modi non Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Culpa eaque modi non.</p></div>
    </div>
</div>